/*  =============================================
           Default CSS Elements
   =============================================     */
   body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    background-color: #1A1A1A;
    color: #E4DECB;
}
/*  =============================================
            Landing Container
=============================================*/
#landingContainer {
    height: 100vh;
}

/*  =============================================
            Focus Elements
=============================================*/
/* button:focus {
    outline: none;
} */


/*  =============================================
            Header Nav
=============================================*/
#headerNavContainer {
    color: #64625B;
    display: grid;
    grid-template-columns: auto auto;
    padding: 30px 30px 0px 30px;
    position: absolute;
    width: 100%;
}

#navBtnContainer {
    margin: 15px 15px 0px 15px;
    display: inline;
    position: relative;
}

#navBtnContainer a {
    display: inline;
}

.navButton {
    background-color: transparent;
    color: #64625B;
    border: 0px;
    margin: 0px 10px 0px 10px;
    font-weight: 600;
    font-size: 21px;
    text-decoration: none;
}

.navButton:hover {
    color: #E4DECB;
    text-decoration: none;
}

#mobileBgMenuFade {
    background-color: black;
    opacity: 0.6;
    z-index: 2;
    height: 100vh;
    width: 100vw;
    position: absolute;
}
/* ============================================
           Landing Grid
============================================*/
#landingGridContainer {
   display: grid;
   grid-template-columns: auto auto;
   align-items: center;
   justify-content: center;
   padding: 120px 0px 0px 0px;
   min-height: 100vh;
   margin: 0 auto;
   max-width: 1700px;
}
.landingGridItem {
   color: #E4DECB;
}
.landingFont {
   font-size: 60px;
   font-weight: 600;
}

#landingProfileImage {
    width: 650px;
}

/* ============== Fade In Text =============  */
#landingHiText {
   opacity: 0;
   text-align: right;
}
#landingImNaomiText {
    opacity: 0;
    text-align: left;
}
#landingNaomiProfile {
    opacity: 0;
    text-align: center;
}
/* =================== Curved Skills Text Section =============== */
#frontEndCurveSVG {
    position: absolute;
    width: 660px;
    height: 600px;
}


/* ========================== Animations ======================== */


/* ============================================
           Tabs - Work Page
============================================*/

/* ========== Work Page - Tab Buttons ============ */
#workTabContainer {
    padding-top: 120px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    align-self: center;
    grid-gap: 2px;
    max-width: 900px;
    margin: 0 auto;
    overflow: auto;
}

.tabBtn {
    background-color: #64625B;
    border: 0px transparent;
    color: #1A1A1A;
    font-size: 19px;
}

/* .tabBtn:hover {              >>> Currently having issue - needs to be added to "OpenTab Function on Work Page"
    background-color: #78756D;
} */


/* ==================== Work Page - Tab Content =========== */
#workTabContentList {
    padding: 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto;
    max-width: 920px;
}

.projectBG {
    background-color: #282828;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0px 10px 0px;
}

.projectContainer {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 5px;

}

.projectTitle {
  font-size: 28px;  
}

.workText {
    grid-column: auto;
    grid-row: 1 / 1;
}

.workImage {

    grid-column: auto;
    grid-row: 1 / 1;
    justify-self: right;

}

.workSkill {
    border-radius: 20px;
    background-color: #64625B;
    padding: 5px;
    color: #1A1A1A;
    font-size: 14px;
    font-weight: 800;
}

.projectText {
    font-size: 16px;
}

.demoCodeBtn {
    color: #8B897F;
    padding: 5px;
    background-color: #1A1A1A;
    padding: 10px;
    border-radius: 10px;
}

.demoCodeBtn:hover {
    color: #E4DECB;
    text-decoration: none;
}

.readMoreContainer {
    margin: 18px 0px 18px 2px;
}

.readMoreContainer button {
    border-radius: 10px;
    padding: 5px;
    border: 2px solid #E4DECB;
    background-color: transparent;
    color: #E4DECB
}

.readMoreContainer button:hover {
    background-color: #E4DECB;
    color: #1A1A1A;
}

.readMoreContainer button:focus {
    background-color: #E4DECB;
    color: #1A1A1A;
    border: 2px solid #E4DECB;
}

/* ============ Art Grid ================== */
.artGridContainer {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 10px;
}

    /* Victor Portrait - Square */
.artGridItem_1 {    
    grid-column: 1 / span 4;    
}

    /* NZ Animation - Landscape Rectangle */

.artGridItem_2 {
    grid-column: 5 / span 4;    
}

/* Inktober Western - Landscape Rectangle  */
.artGridItem_3 {    
    grid-column: 1 / 5;    
}

/* Cat Holding Mug - Portrait Rectangle */
.artGridItem_4 {    
    grid-column: 5 / span 4;    
}

/* Space Animation - Landscape Rectangle */
.artGridItem_5 {    
    grid-column: 1 / span 4;    
}

/* Lady in Yellow */
.artGridItem_6 {
    grid-column: 5 / span 4;    
}


/* =============== Project Image Styling =================== */

.projectImageContainer {
    border: 1px solid #64625B;
    box-shadow: 5px 5px #E4DECB;
    width: 500px;
    height: 300px;
    margin: 0px 10px 10px 0px;
    overflow: hidden;
}

/* =============== Bootstrap Modal ===================== */
.modal-content {
    background-color: #282828;
}

.modal-header {
    border-bottom: 1px solid #1A1A1A;
}

.close {
    text-shadow: none;
    color: #64625B;
}

.close:hover {
    color: #6C6A63;
}

.modal-body {
    font-size: 16px;
    max-height: 600px!important;
    overflow-y: auto;
    text-align: left;
}

.modal-dialog {
    max-width: fit-content;
    max-width: 700px;
    
}

        /* ---- Project Content Lightbox Grid ---- */

        .projectGridLB {
            display: grid;
            grid-template-columns: auto auto;
            grid-gap: 10px;
        }

        /* Span Two Columns */
        .projectGridItem1 {
            justify-self: center;            
            grid-column: 1 / span 2;
        }

        /* Span Single Column (From 1) */
        .projectGridItem2 {
            justify-self: center;
            grid-column: 1 / span 1;
        }

        /* Span Single Column (From 2) */
        .projectGridItem3 {
            justify-self: center;
            grid-column: 2 / span 1;
        }

        .projectGridLB em {
            font-size: 18px;
        }

        .projectGridLB img {
            border: 1px solid #64625B;
            box-shadow: 5px 5px #E4DECB;
            max-width: 500px;
            width: 70vw;
            min-width: 200px;
        }

/*  =============================================
                About Page
    =============================================     */

/* =============== About Grid =================== */

#aboutGrid {
    display: grid;
    grid-template-columns: auto auto;
    padding-top: 120px;
    max-width: 900px;
    margin: 0 auto;
    align-self: center;
    grid-gap: 10px;
    height: auto;
}

.aboutGridItem {
    background-color: #282828;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0px 10px 0px;
}

#aboutImageBlob {
    width: 100%;
    height: auto;

}


#clippedAbout {
    clip-path: url(#clipPathAbout);
    -webkit-clip-path: url(#clipPathAbout);
}


#aboutBlobs {
    position: absolute;
    right: 50%;
    width: 600px;
}


/*  =============================================
                Contact Page
    =============================================     */

/* =============== Contact Grid =================== */

#contactContainer {
    padding-top: 120px;
}

#contactWrapper {
    background-color: #282828;
    margin: 0 auto;
    
    max-width: 500px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;

}

#contactFieldGrid {
    display: grid;
    grid-template-columns: auto;
    max-width: 500px;
    margin: 0 auto;
    align-self: center;
    grid-gap: 10px;
    height: auto;
    text-align: left;
}

.form-control {
    border: 0px;
}

.btn-primary {
    background-color: transparent;
    border: 2px solid #E4DECB;
    font-weight: 400;
    color: #E4DECB;
}

.btn-primary:hover {
    background-color: #E4DECB;
    border: 2px solid #E4DECB;
    color: #282828;
    font-weight: 400;
}


/* ------------- Social Media Icons ---------------- */
.socialMediaContainer {
    text-align: center;
    font-size: 26px;
}

.socialMediaIcon {
    color: #64625B;
}

.socialMediaIcon:hover {
    color: #E4DECB;
}


/*  =============================================
        Responsiveness
    =============================================     */



/* =================================  Breaks at 1089px WIDTH =========================== */
@media only screen and (max-width: 1089px) {

    #landingGridContainer {
        grid-template-columns: auto;
        padding-bottom: 0px;
    }

    .landingFont {
        font-size: 45px;
   }

   /* ----- Fade In Text (Mobile Grid) -------*/
   #landingTextWrapper {
       text-align: center;
   }

   /* -------- Curved Text & Landing Profile Image -------- */
   body {
    font-size: 19px;
    }

    #landingProfileImage {
        width: 530px;

    }

    #frontEndCurveSVG {
        width: 480px;
        height: 480px;
        margin-top: 5px;
        margin-left: 30px;
    }

}


/* ============================ Break range 940px - 786px WIDTH ======================== */

/* ---------- About Page Image Blobs ------------- */

@media only screen and (max-width: 940px) and (min-width: 786px) {
    #aboutBlobs {
        left: -130px;
    }

}


/* ============================ Breaks at 785px WIDTH ======================== */

/* ------------------- About Page Content Grid ------------ */
@media only screen and (max-width: 785px) {
    #aboutGrid {
        grid-template-columns: auto;
        max-width: 450px;
    }

    .aboutGridItem {
        margin: 0px;
    }

}

/* ============================ Break range 785px - 510px WIDTH ======================== */
/* --------------- About Blobs --------------  */
@media only screen and (max-width: 785px) and (min-width: 510px) {
    #aboutBlobs {
        right: 50%;
        margin-right: -225px;
    }
}



/* ====================================  Breaks at 769px HEIGHT =========================== */
@media only screen and (max-height: 769px) {

    #landingGridContainer {
        grid-template-columns: auto;
        padding-bottom: 0px;
    }

    .landingFont {
        font-size: 45px;
   }

   /* ----- Fade In Text (Mobile Grid) -------*/
   #landingTextWrapper {
       text-align: center;
   }

   /* -------- Curved Text & Landing Profile Image -------- */
   body {
    font-size: 19px;
    }

    #landingProfileImage {
        width: 530px;

    }

    #frontEndCurveSVG {
        width: 480px;
        height: 480px;
        margin-top: 5px;
        margin-left: 30px;
    }


}



/* ================================= Breaks at 768px (Portrait Tablet) WIDTH ====================== */
@media only screen and (max-width: 768px) {
   /* ----------- Header Nav (Logo, Hamburger) ------------ */


   /* ----------- */
    .landingFont {
        font-size: 35px;
   }

    /* ----------- Curved Text & Landing Profile Image ------------ */
    body {
        font-size: 19px;
    }

    #landingProfileImage {
        width: 400px;
        padding: 0px;
        margin: 0px;
    }

    #frontEndCurveSVG {
        width: 370px;
        height: 370px;
        margin-top: 0px;
        margin-left: 18px;
    }

    #landingGridContainer {
        margin: 0px auto;
        width: 100vw;
    }

    /* ------------------------- Work Carousel Caption & Subtitle ----------------------- */
    .d-md-block {
        display: block !important; 
    }

    /* -------------------------- Project Image Container Styling ----------------- */
    

    .projectContainer {
        grid-template-columns: auto;
    }

    .workImage {
        grid-column: auto;
        grid-row: 2 / 2;
        justify-self: center;
    
    }

    .projectTitle {
        font-size: 25px;
    }
}




/* ================================= Breaks at 716px (Landscape Tablet) HEIGHT ====================== */
@media only screen and (max-height: 716px) {
    /* ----------- Header Nav (Logo, Hamburger) ------------ */


    /* ----------- */
     .landingFont {
         font-size: 35px;
    }

     /* ----------- Curved Text & Landing Profile Image ------------ */
     body {
         font-size: 19px;
     }

     #landingProfileImage {
         width: 400px;
         padding: 0px;
         margin: 0px;
     }

     #frontEndCurveSVG {
         width: 370px;
         height: 370px;
         margin-top: 0px;
         margin-left: 18px;
     }

     #landingGridContainer {
         margin: 0px auto;
         width: 100vw;
     }

 }

 /* ================================ Break RANGE max 605px height, 811 min width ============== */

 @media only screen and (max-height: 605px) and (min-width: 786px) and (max-width: 940px) {
     /* ------------- About Page ------------------- */

     #aboutGrid {
         grid-template-columns: auto auto;
     }

     #clippedAbout {
         transform: scale(0.8);
         max-width: 230px;
         margin-left: -20px;

     }

     #aboutBlobs {
        transform: scale(0.5);
        left: -200px;
        top: 35px;
     }

     #clipPathAbout {
         transform: scale(0.6);
     }


 }

 /* ====================== Breaks at Max Width 624px ================ */
 
 @media only screen and (max-width: 624px) {
 /* ---------- Work Page Carousel Image Size -------------- */
    .projectImageContainer {
        width: 400px;
        height: 240px;
    }
 }


/* ================= Breaks at 601px (Above Mobile Medium Nav) "Hamburger Hide" WIDTH ============== */
@media only screen and (min-width: 601px) {
    #mobileNavBtnContainer {
        display: none;
    }
    
    #navBtnContainer {
        display: inline !important;
    }

    #navBtnContainer a {
        display: inline !important;
    }


}

/* ================= Breaks at 600px (Mobile Medium Nav) "Hamburger Show" WIDTH ============== */
@media only screen and (max-width: 600px) {

    #headerNavContainer {
        padding: 0px 0px 0px 0px;
    }

    #navBtnContainer {
        position: absolute;
        width: 60vw;
        right: 0;
        margin: 0px 0px 0px 0px;
        padding: 30px 0px 0px 0px;
        z-index: 3; /* Background of Menu mobile menu is occupying z-index 2 */
        display: none;
        border-radius: 0px;
        background-color: #3A3A3A;
        height: 100vh;
        /* Possibly insert Animation for Slide Menu here */
    }

    #navBtnContainer a {
        display: block;
        text-align: center;
        background: #3A3A3A;
        padding-bottom: 15px;
    }

    .navButton {
        color: #817E76;
    }

    #hamburgerBtn {
        color: #64625B;
    }

    #logoImage {
        width: 65px !important;
        margin: 10px 10px 0px 10px;
    }
}

/* ================= Breaks at 509px (Mobile Medium) WIDTH ============== */
/* --------------- About Blobs --------------  */
@media only screen and (max-width: 768px) {
    #aboutBlobs {
        right: 50%;
        margin-right: -265px;
        margin-top: -135px;
        transform: scale(0.55);
    }

    #clippedAbout {
        max-width: 230px;
    }

    #clipPathAbout {
        transform: scale(0.55);
    }



    .aboutGridItem {
        margin: auto;
        max-width: 265px;

    }


}



/* ================= Breaks at 571px (Mobile Medium) HEIGHT ============== */
@media only screen and (max-height: 571px) {
    /* ----------- Header Nav (Logo, Hamburger) ------------ */


    /* ----------- */
     .landingFont {
         font-size: 30px;
    }

     /* ----------- Curved Text & Landing Profile Image ------------ */
     body {
         font-size: 19px;
     }

     #landingProfileImage {
         width: 320px;
         padding: 0px;
         margin: 0px;
     }

     #frontEndCurveSVG {
         width: 290px;
         height: 290px;
         margin-top: 1px;
         margin-left: 20px;
         /* border: solid 2px red; */
     }

     /* .landingGridItem {
         border: solid 2px blue;
     } */

     #landingGridContainer {
         margin: 0px auto;
         width: 100vw;
     }

 }

 /* ================= Breaks at 484px (Landscape Mobile Small) HEIGHT ============== */
@media only screen and (max-height: 484px) {
    /* ----------- Header Nav (Logo, Hamburger) ------------ */


    /* ----------- */
     .landingFont {
         font-size: 30px;
    }

     /* ----------- Curved Text & Landing Profile Image ------------ */
     body {
         font-size: 19px;
     }

     #landingProfileImage {
         width: 320px;
         padding: 0px;
         margin: 0px;
     }

     #frontEndCurveSVG {
         width: 290px;
         height: 290px;
         margin-top: 1px;
         margin-left: 20px;
     }
 }


 /* ================= Range for landscape Mobile ================= */

 @media only screen and (max-height: 484px) and (min-width: 530px) and (min-height: 397px) {
    #landingGridContainer {
        margin: 0px auto;
        width: 100vw;
        grid-template-columns: auto auto;
    }
 }



 /* ====================== Breaks at Max 500px WIDTH ================ */
 
 @media only screen and (max-width: 500px) {
    /* ---------- Work Page Carousel Image Size -------------- */
       .projectImageContainer {
           width: 310px;
           height: 185px;
       }

       .projectTitle {
        font-size: 21px;
        }
    }

/* ========================== Breaks at Max 454px WIDTH ================= */

@media only screen and (max-width: 454px) {
    .tabBtn {
        font-size: 17px;
    }
}


/* ========================== Breaks at Max 410px WIDTH ================= */

@media only screen and (max-width: 410px) {
    .tabBtn {
        font-size: 16px;
    }
}

  /* ====================== Breaks at Max 396px WIDTH ================ */
 
  @media only screen and (max-width: 396px) {
    /* ---------- Work Page Carousel Image Size -------------- */
       .projectImageContainer {
           width: 240px;
           height: 145px;
       }

}
   

 /* ================= Breaks at 400px (Mobile Medium) WIDTH ============== */
@media only screen and (max-width: 400px) {
    /* ----------- Header Nav (Logo, Hamburger) ------------ */


    /* ----------- */
     .landingFont {
         font-size: 30px;
    }

     /* ----------- Curved Text & Landing Profile Image ------------ */
     body {
         font-size: 19px;
     }

     #landingProfileImage {
         width: 320px;
         padding: 0px;
         margin: 0px;

     }

     #frontEndCurveSVG {
         width: 290px;
         height: 290px;
         margin-top: 1px;
         margin-left: 20px;

     }


     #landingGridContainer {
         margin: 0px auto;
         width: 100vw;
     }

 }






