/*  =============================================
           Default CSS Elements
   =============================================     */
   body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    background-color: #1A1A1A;
}
/*  =============================================
            Landing Container
=============================================*/
#landingContainer {
    height: 100vh;
}
/*  =============================================
            Header Nav
=============================================*/
#headerNavContainer {
    color: #64625B;
    display: grid;
    grid-template-columns: auto auto;
    padding: 30px 30px 0px 30px;
    position: absolute;
    width: 100%;
}
 
.navButton {
    background-color: transparent;
    color: #64625B;
    border: 0px;
    margin: 0px 10px 0px 10px;
    font-weight: 600;
    font-size: 21px;
}
 
.navButton:hover {
    color: #E4DECB;
}
/* ============================================
           Landing Grid
============================================*/
#landingGridContainer {
   display: grid;
   grid-template-columns: auto auto;
   align-items: center;
   justify-content: center;
   padding: 120px 0px 0px 0px;
   min-height: 100vh;
   margin: 0 auto;
   max-width: 1700px;
}
.landingGridItem {
   color: #E4DECB;
}
.landingFont {
   font-size: 60px;
   font-weight: 600;
}
 
#landingProfileImage {
    width: 650px;
}
 
/* ============== Fade In Text =============  */
#landingHiText {
   opacity: 0;
   text-align: right;
}
#landingImNaomiText {
    opacity: 0;
    text-align: left;
}
#landingNaomiProfile {
    opacity: 0;
    text-align: center;
}
/* =================== Curved Skills Text Section =============== */
#frontEndCurveSVG {
    position: absolute;
    width: 660px;
    height: 600px;
}
 
 
/*  =============================================
        Responsiveness
=============================================     */
 
        /* HEIGHT */
 
 
 
/* =================================  Breaks at 1089px WIDTH =========================== */
@media only screen and (max-width: 1089px) {
 
    #landingGridContainer {
        grid-template-columns: auto;
        padding-bottom: 0px;
    }
 
    .landingFont {
        font-size: 45px;
   }
 
   /* ----- Fade In Text (Mobile Grid) -------*/
   #landingTextWrapper {
       text-align: center;
   }
 
   /* -------- Curved Text & Landing Profile Image -------- */
   body {
    font-size: 19px;
    }
  
    #landingProfileImage {
        width: 530px;
        
    }
 
    #frontEndCurveSVG {
        width: 480px;
        height: 480px;
        margin-top: 5px;
        margin-left: 30px;
    }
    
}
 
 
 
/* ====================================  Breaks at 769px HEIGHT =========================== */
@media only screen and (max-height: 769px) {
 
    #landingGridContainer {
        grid-template-columns: auto;
        padding-bottom: 0px;
    }
 
    .landingFont {
        font-size: 45px;
   }
 
   /* ----- Fade In Text (Mobile Grid) -------*/
   #landingTextWrapper {
       text-align: center;
   }
 
   /* -------- Curved Text & Landing Profile Image -------- */
   body {
    font-size: 19px;
    }
  
    #landingProfileImage {
        width: 530px;
        
    }
 
    #frontEndCurveSVG {
        width: 480px;
        height: 480px;
        margin-top: 5px;
        margin-left: 30px;
    }
    
}
 
 
 
/* ================================= Breaks at 768px (Portrait Tablet) WIDTH ====================== */
@media only screen and (max-width: 768px) {
   /* ----------- Header Nav (Logo, Hamburger) ------------ */
 
 
   /* ----------- */
    .landingFont {
        font-size: 35px;
   }
 
    /* ----------- Curved Text & Landing Profile Image ------------ */
    body {
        font-size: 19px;
    }
 
    #landingProfileImage {
        width: 400px;
        padding: 0px;
        margin: 0px;
    }
 
    #frontEndCurveSVG {
        width: 370px;
        height: 370px;
        margin-top: 0px;
        margin-left: 18px;
    }
 
    #landingGridContainer {
        margin: 0px auto;
        width: 100vw;
    }
    
}
 
 
 
 
/* ================================= Breaks at 716px (Landscape Tablet) HEIGHT ====================== */
@media only screen and (max-height: 716px) {
    /* ----------- Header Nav (Logo, Hamburger) ------------ */
 
 
    /* ----------- */
     .landingFont {
         font-size: 35px;
    }
 
     /* ----------- Curved Text & Landing Profile Image ------------ */
     body {
         font-size: 19px;
     }
 
     #landingProfileImage {
         width: 400px;
         padding: 0px;
         margin: 0px;
     }
 
     #frontEndCurveSVG {
         width: 370px;
         height: 370px;
         margin-top: 0px;
         margin-left: 18px;
     }
 
     #landingGridContainer {
         margin: 0px auto;
         width: 100vw;
     }
     
 }
 
 
/* ================= Breaks at 601px (Above Mobile Medium Nav) WIDTH ============== */
@media only screen and (min-width: 600px) {
    #mobileNavBtnContainer {
        display: none;
    }
}
 
/* ================= Breaks at 600px (Mobile Medium Nav) WIDTH ============== */
@media only screen and (max-width: 600px) {
    #navBtnContainer {
        display: none;
    }
}
 
 
/* ================= Breaks at 571px (Mobile Medium) HEIGHT ============== */
@media only screen and (max-height: 571px) {
    /* ----------- Header Nav (Logo, Hamburger) ------------ */
 
 
    /* ----------- */
     .landingFont {
         font-size: 30px;
    }
 
     /* ----------- Curved Text & Landing Profile Image ------------ */
     body {
         font-size: 19px;
     }
 
     #landingProfileImage {
         width: 320px;
         padding: 0px;
         margin: 0px;
     }
 
     #frontEndCurveSVG {
         width: 290px;
         height: 290px;
         margin-top: 1px;
         margin-left: 20px;
         /* border: solid 2px red; */
     }
 
     /* .landingGridItem {
         border: solid 2px blue;
     } */
 
     #landingGridContainer {
         margin: 0px auto;
         width: 100vw;
     }
     
 }
 
 /* ================= Breaks at 571px (Landscape Mobile Small) HEIGHT ============== */
@media only screen and (max-height: 484px) {
    /* ----------- Header Nav (Logo, Hamburger) ------------ */
 
 
    /* ----------- */
     .landingFont {
         font-size: 30px;
    }
 
     /* ----------- Curved Text & Landing Profile Image ------------ */
     body {
         font-size: 19px;
     }
 
     #landingProfileImage {
         width: 320px;
         padding: 0px;
         margin: 0px;
     }
 
     #frontEndCurveSVG {
         width: 290px;
         height: 290px;
         margin-top: 1px;
         margin-left: 20px;
     }
 
     #landingGridContainer {
         margin: 0px auto;
         width: 100vw;
         grid-template-columns: auto auto;
     }
     
 }
 
 /* ================= Breaks at 400px (Mobile Medium) WIDTH ============== */
@media only screen and (max-width: 400px) {
    /* ----------- Header Nav (Logo, Hamburger) ------------ */
 
 
    /* ----------- */
     .landingFont {
         font-size: 30px;
    }
 
     /* ----------- Curved Text & Landing Profile Image ------------ */
     body {
         font-size: 19px;
     }
 
     #landingProfileImage {
         width: 320px;
         padding: 0px;
         margin: 0px;
         /* border: solid 2px pink; */
     }
 
     #frontEndCurveSVG {
         width: 290px;
         height: 290px;
         margin-top: 1px;
         margin-left: 20px;
         /* border: solid 2px red; */
     }
 
     /* .landingGridItem {
         border: solid 2px blue;
     } */
 
     #landingGridContainer {
         margin: 0px auto;
         width: 100vw;
     }
     
 }
 
 
 
 
 

